@media screen and (max-width: 992px) {
    /* MOBILE NAV */
    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        display: flex;
    }



    /* MOBILE PROFILE */
    #profile {
        display: block;
    }

    .profile-pic-container {
        display: flex;
        justify-content: center;
        height: 300px;
        width: auto;
        margin-bottom: 3.5%;
    }

}