/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --dark-pink: #E3826F;
    --medium-pink: #E4A9A4;
    --orange: #EFBA97;
    --light-pink: #F1CCBB;
    --skin: #E7D5C7;
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* TRANSITION */
a, .btn {
    transition: all 300ms ease;
}


/* DESKTOP NAV */
nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: var(--dark-pink);
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: var(--light-pink);
    text-decoration: underline;
    text-decoration-color: var(--light-pink);
}
    
.logo {
    font-size: 2rem;
    color: var(--dark-pink);
    cursor: default;
}




/* MOBILE MENU */
#mobile-nav {
    display: none;
}

.mobile-menu {
    position: relative;
    display: inline-block;
}

.mobile-links {
    position: absolute;
    top: 100%;
    right: 0%;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
}

.mobile-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--dark-pink);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.mobile-links li {
    list-style: none;
}

#mobile-dropdown.open {
    max-height: 300px;
}

/* HAMBURGER ICON */
.mobile-icon {
    transform: translate(-50%, -50%);
    position: absolute;
    display: inline-block;
    height: 24px;
    width: 50px;
    cursor: pointer;
}

.mobile-icon:before,
.mobile-icon:after,
.mobile-icon div {
    background-color: var(--dark-pink);
    content: "";
    display: block;
    height: 5px;
    border-radius: 2px;
    margin: 7px 0;
    transition: 0.5s;
}

/*
.mobile-icon:hover:before {
    transform: translateY(12px) rotate(135deg);
}
.mobile-icon:hover:after {
    transform: translateY(-12px) rotate(-135deg);
}
.mobile-icon:hover div {
    transform: scale(0);
}
*/

#mobile-hamburger.open::before {
    transform: translateY(12px) rotate(135deg);
}
#mobile-hamburger.open::after {
    transform: translateY(-12px) rotate(-135deg);
}
#mobile-hamburger.open div {
    transform: scale(0);
}